<a href="https://colab.research.google.com/github/Madihajavaid12345/data-manipulation-project-using-pandas-/blob/main/%F0%9F%A7%AA_Assignment_3_Grouping_%26_Aggregation_(Pandas_Practice).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

✅ Step 1: Create the DataFrame

In [3]:
import pandas as pd
Data = {
    'Salesperson': ['Ali', 'Sara', 'Ali', 'Zara', 'Sara', 'Zara', 'Ali'],
    'Region': ['North', 'South', 'North', 'East', 'South', 'East', 'West'],
    'Sales': [25000, 27000, 30000, 15000, 20000, 18000, 22000],
    'Month': ['Jan', 'Jan', 'Feb', 'Feb', 'Mar', 'Mar', 'Mar']

}
df = pd.DataFrame(Data)
print(df)

  Salesperson Region  Sales Month
0         Ali  North  25000   Jan
1        Sara  South  27000   Jan
2         Ali  North  30000   Feb
3        Zara   East  15000   Feb
4        Sara  South  20000   Mar
5        Zara   East  18000   Mar
6         Ali   West  22000   Mar

✅ Step 2: Group by Salesperson and Total Sales

In [4]:
Total_sales = df.groupby( 'Salesperson')['Sales'].sum()
print(Total_sales)

Salesperson
Ali     77000
Sara    47000
Zara    33000
Name: Sales, dtype: int64

✅ Step 3: Group by Region (Average Sales)

In [5]:
Average_Sales_Region = df.groupby('Region')['Sales'].mean()
print(Average_Sales_Region)

Region
East     16500.0
North    27500.0
South    23500.0
West     22000.0
Name: Sales, dtype: float64

✅ Step 4: Group by Salesperson and Month

In [6]:
monthly_sales = df.groupby(['Salesperson', 'Month'])['Sales'].sum()
print(monthly_sales )

Salesperson  Month
Ali          Feb      30000
             Jan      25000
             Mar      22000
Sara         Jan      27000
             Mar      20000
Zara         Feb      15000
             Mar      18000
Name: Sales, dtype: int64

✅ Step 5: Top Salesperson

In [7]:
top_salesperson = df.groupby('Salesperson')['Sales'].sum().idxmax()
print(top_salesperson)

Ali

Step 6: Filter Sales > 25000

In [ ]:
High_sales = df[df['Sales']>25000]
print(High_sales)

  Salesperson Region  Sales Month
1        Sara  South  27000   Jan
2         Ali  North  30000   Feb

✅ Step 7: Add Bonus Column

In [8]:
df['bonus'] = df['Sales'].apply(lambda x : 1000 if x > 25000 else 500)

print(df)

  Salesperson Region  Sales Month  bonus
0         Ali  North  25000   Jan    500
1        Sara  South  27000   Jan   1000
2         Ali  North  30000   Feb   1000
3        Zara   East  15000   Feb    500
4        Sara  South  20000   Mar    500
5        Zara   East  18000   Mar    500
6         Ali   West  22000   Mar    500

✅ Step 8: Pivot Table

In [9]:
# Pivot to show sales by person per month
pivot = df.pivot_table(values='Sales', index='Salesperson', columns='Month', aggfunc='sum', fill_value=0)
print(pivot)

Month          Feb    Jan    Mar
Salesperson
Ali          30000  25000  22000
Sara             0  27000  20000
Zara         15000      0  18000

✅ Step 9: Export to CSV

In [11]:
df.to_csv('sales_summry.csv', index=False)
from google.colab import files
files.download('sales_summry.csv')